
 nav ul{
        list-style:none;
        background-color: gold;
        display:flex;
        height:50px;
        align-items:center;
        justify-content: space-around;
        padding:10px;
        border: dashed;
}
nav ul li:nth-of-type(n+1){
    align-self:flex-start;
    color:green;
}
nav ul li:nth-of-type(n+3){
    align-self: center;
    color: blue;
}
nav ul li:nth-of-type(n+6){
    align-self: flex-end;
    color: brown;
}
main{
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: 100px 100px 100px 100px 100px 200px ;
    gap:10px;
    grid-template-areas: "a a a b" 
                         "a a a b"
                         "c c c b"
                         "c c c b"
                         "c c c b"
                         "d d d d";
} 

main > *{
    background-color: goldenrod;
}

main > :nth-child(1){
    grid-area: a;
}
main > :nth-child(2){
    grid-area: c;
}

main > :nth-child(3){
    grid-area: b;
}

main > :nth-child(4){
    grid-area: d;
}


aside > *{
    background-color: green;
}

aside:first-of-type{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
}

section + section{
    background-color: red;
}

section + section{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    grid-template-rows: repeat(6,1fr) 150px 100px 100px 100px 100px 200px  ;
    gap: 10px;
    grid-template-areas: "a a b"
                         "c c c"
                         "d d d";
}
section + section:nth-child(1){
    grid-area: a;
}
section + section:nth-child(2){
    grid-area: c;
}
section + section:nth-child(3){
    grid-area: d;
}
footer {
    background-color: deepskyblue;
}