h1{
    color: fuchsia;
    text-transform: uppercase;
}

p h1{
    text-decoration: underline;

}
p{
    text-decoration: overline;
}
    


iframe~p{
    background-color: blueviolet;
}
iframe+p{
    background-color: chartreuse;
}

#first[

]
